.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url("./assets/PokeBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}